#sideBarWr {
  padding: 5vh 0; }

#sideBar {
  height: 100%;
  padding: 0 0;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 4vw;
  border-left: 1px solid #011936; }
  #sideBar button {
    height: 14vh;
    width: 20vw;
    cursor: pointer;
    color: #f8f8f8;
    font-size: 1.9em;
    text-transform: uppercase;
    border-radius: 10px;
    transition: transform .5s;
    box-shadow: 3px 3px 8px #595959; }
    #sideBar button:hover {
      transform: translateX(10px); }
  #sideBar a {
    text-decoration: none; }
    #sideBar a::after {
      display: none; }

#create {
  background-color: #00A832; }
  #create:hover {
    background-color: #00db41; }

#read {
  background-color: #0202A8; }
  #read:hover {
    background-color: #0303da; }

#update {
  background-color: #9DD406; }
  #update:hover {
    background-color: #bcf815; }

#delete {
  background-color: #A80202; }
  #delete:hover {
    background-color: #da0303; }
